# Configuration file

general {
    # 1,2,3 for different rendering of fluids in the Backpack GUI [range: 1 ~ 3, default: 3]
    I:TankRenderType=3

    # Use backpacks in armor slot? [default: false]
    B:testValue=false
}


