# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=cfa9ccce-3a3e-4f9f-a4cc-0521fbf00521

    # Set to true to disable all reporting
    B:opt-out=true
}


